@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

@font-face{
    font-family: neurial-grotesk;
    src:url("./assets/fonts/Fontspring-DEMO-neurialgrotesk-regular.otf");

    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    @font-face{
        font-family:neurial-grotesk;
        src:url("./assets/fonts/Fontspring-DEMO-neurialgrotesk-regular.otf");
    }
}
:root{
    --purple: #8D34FF;
    --login-bgrc: rgba(230, 210, 255, 1);
    --off-white: #FEFEFF;



}

/* Nav */
nav h2{
    font-family: "Sansita",sans-serif;
    font-weight: 700;
    font-size: 28.33px;
    color:black

}

.login-btn{
    background-color:var(--login-bgrc);
    color: var(--purple);
    border-radius: 8px;
    border: none;
    height: 61px;
    width: 140px;
    font-family: neurial-grotesk;
    font-weight: 500;
    font-size: 20px;

}

.sign-up-btn{
    background-color: var(--purple);
    color: var(#F5F5F5);
    border:none;
    border-radius:8px;
    height:61px;
    width:140px;
    font-family:neurial-grotesk;
    font-weight:500;
    font: size 20px;


}

.sign-in-container{
    background-image:url(/src/assets/13625\ 1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height:100vh;

}

.card-container{
    width:30%
}

.card-img{
    height:256.62px;
    width:256.62px;
}

.card-title{
    font-size: 15.97px;
    font-weight: 700;
    font-family: neurial-grotesk;
}

.add-to-cart-btn{
    background-color: var(--purple);
    color: rgba(254, 254,255,1);
    height:40px;
    border:none;
    border-radius:8px;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-size: 16px;
}

@media(max-width:765px){
    .sign-in-container, .sign-up-container{
        background-image: none;
    }

    .card-container{
        min-width:98%;
    }

    .card-title{
        font-size: 20px;
        font-weight: 700;
    }

    .card-img{
        height:335.55px;
        width:335.55px;
    }

    @media(min-width:768px) and (max-width:1023px){
        .card-container{
            min-width:48%;
            display:flex;
            justify-content: space-between;
        }
        
        .card-img{
            height:335.55px;
            width:335.55px;
        }
    }
}